In [1]:
from nlp_jzar import *
import pandas as pd

In [2]:
train_df = pd.read_csv("data/train.csv")
test_df = pd.read_csv("data/test.csv")

# Find the best params for the model

In [3]:
best_performance(train_df,test_df)

    f1_mean    f1_std  mix_texts  clean_texts vectorization  use_LSA
0  0.631778  0.048595      False         True         tfidf    False
1  0.629418  0.056226      False        False         tfidf    False
2  0.597507  0.064688       True         True         tfidf    False
3  0.584838  0.075045       True        False         tfidf    False
4  0.576406  0.059272      False         True        simple    False

# Apply them

In [4]:
clf = use_model(train_df, 
                test_df, 
                mix_texts=False, 
                clean_texts=True, 
                vectorization="tfidf", 
                use_LSA=False)

   id  target
0   0       1
1   2       1
2   3       1
3   9       0
4  11       1

                                                   text  is_disaster
3070  Terrifying POV footage captures violent landin...         True
2324  Police: Tennessee theater shooting suspect was...         True
594   Three-alarm fire burning in Antioch apartment ...         True
859   SEVERE WEATHER BULLETIN No. 6\nFOR: TYPHOON Û...         True
2117  Byproduct of #metal price meltdown is a higher...         True

                                                   text  is_disaster
1345  Do you remember when I suddenly electrocute yo...        False
674   @_LalaDeviluke - consequences could have been ...        False
886   @TheElmagoo @GOPTeens @FoxNews @pattonoswalt a...        False
2641                 @spookyerica sleeping with sirens?        False
2234  'I must not fear. Fear is the mind-killer. Fea...        False